/*
CSS Authored by Suresh Prasann V G 
www.about.me/sureshprasannavg*/
.banner
{
  
  background-color: #fff;
  color: #3E6372;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding-top: 10px;
  
  padding-bottom: 10px;
  font-family: 'Trocchi', serif;
}
form
{
margin-left: 25%;
}

body
{
background-color: #3E6372;
color: #fff;
background-position: center center;
background-repeat: no-repeat;
font-family: 'Trocchi', serif;
}
nav,a
{
  background-color: #fff;
  color:#3E6372;
  vertical-align: 10px;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 25px;
  letter-spacing: px;
  
}
a:hover
{
  
  text-decoration: underline;
}
input
{
  line-height: 25px;
  font-size: 20px;
  margin-right: 10%;
}
.se
{
  display: inline;
}
.footer
{
  margin-bottom:0%;
  text-align: left;
}
   
.title
{
  background-color: #FFC801;

  color: black;
}
.content
{
  background-color: white;

  color: black;
}
.sec
{
  display: none;
}

